:root{
    --vermelho: #E50914;
    --preta: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal */
.filme-principal{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../imgs/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

/* Modal 'Mais informações' */
.modal{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: 0s linear 0.25s, 0.25s 0s ,  0.25s   ;
    /*            visibility     opacity  transform  */
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-header{
    margin-bottom: 10px;
}

.x-btn{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(102, 96, 96);
    font-size: larger;
}

.x-btn:hover{
    background-color: darkgray;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: 0s linear 0s, 0.25 0s, 0.25s;
}